node_modules
.env
dist
coverage
.DS_Store
.vscode
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock
.pnpm-debug.log
.idea
*.sublime-workspace
*.sublime-project
*.swp
*.swo
*.bak
*.tmp
*.log
*.pid
*.seed
*.tgz   
*.js